@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

.signup-form {
  font-family: "Inconsolata", monospace;
  width: 50%;
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
  height: 90vh;
}
.signup-form form {
  width: 80%;
}
.signup-form h2 {
  font-size: 2rem;
  font-weight: bolder;
}
.signup-form form a {
  width: 100%;
}
.signup-form form input {
  outline: none;
  width: 100%;
  height: 2rem;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}
.submit {
  width: 100%;
  margin: 30px auto;
  background-color: rgb(54, 50, 50);
  color: white;
  height: 2rem;
  border-radius: 5px;
}
